body {
  margin: 0;
  font-family: Arial;
  color :#001931;
  max-width: 1240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 20px 0;
}
.link-parent {
  display:flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}
.link-parent a {
  text-decoration: none;
}



.logo {
  height: 40px;
}


.btn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}
.btn:hover{  background-color: rgba(3, 186, 247, 0.686);
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);}
.hero {
  position: relative;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  margin: 0 auto;
  top: 80px;
  /* left: 60px; */
  color: white;
  max-width: 500px;
  text-align: center;
  /* background-color: brown; */
}

.hero-text span {
  color: #0af263;
}
